.description-view {
}

.titre-ressource {
    color: #56575b;
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    font-style: oblique;
}

.name-user {
    color: #56575b;
    font-size: 16px;
    margin-left: 10px;
}
