/* a {
    text-decoration: none !important;
} */

stencil-route-link a {
    color:rgba(255,255,255,0.55);
    text-decoration: none;
}

stencil-route-link p {
    color:black;
    margin: 0;
}

.dropdown-item{
    color: black !important;
}

.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}