/* a {
    text-decoration: none !important;
} */

stencil-route-link a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

stencil-route-link p {
    color:black;
    margin: 0;
}

.dropdown-item{
    color: black !important;
}


.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .navlink{
    color:rgb(255, 255, 255);
}

li>a{
    color:rgb(255, 255, 255);
    margin: 0;
    align-items: center;
} */

li>a>p{
    color:black;
    margin: 0;
    align-items: center;
}
