/* a {
    text-decoration: none !important;
} */


#logo {
    max-height: 40px;
}

@media (max-width: 380px) {
  #logo {
    max-height: 26px;
  }
}

stencil-route-link a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

stencil-route-link p {
    color:black;
    margin: 0;
}

.dropdown-item{
    color: black !important;
}


.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

 /* .navlink{
    color:rgb(255, 255, 255);
} */

.navbar :hover{
    color:rgb(9, 90, 100) !important;
} 

li>a>p{
    color:black;
    margin: 0;
    align-items: center;
}

@media (max-width: 380px) {
    .menu-left {
        text-align: start;
    }
  }
