.bloc-ressource{
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.uppercase{
    text-transform:uppercase;
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listshadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.titre{
    font-size: 32px;
    color:#56575b;
}